/.idea/workspace.xml
HELP.md
!**/src/main/**/target/
!**/src/test/**/target/
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
*.iws
*.iml
*.ipr
/gatewayAPI/.mvn/
/gatewayAPI/target/
/product-service/.mvn/